{% extends "users/base.html" %}

{% load game_extras %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home Page</title>
</head>
<body>
{% block content %}
<div class="title" style="color: #FFFFFF;"> Hello, {{user.username|default:'Guest'}} </div>
<center><h5 style="color: #B3B3B3">Welcome to the game, Imposter. If you want to start playing go to the Lobbies tab and wait for a Lobby</h5></center>

<!--Logo Image here-->

{% endblock %}
</body>
</html>

