{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 
  
</head>
<div class="container">
	<div class="title">FORGOTTEN PASSWORD?</div>
	<p>Forgotten your password? Enter your email below, and we will send instructions to it for seeting a new one</p>
	<form method="POST">
		

		{% csrf_token %}
		{{form}}
	
		<button class="login-btn" type="Submit" name="Send Email">SEND EMAIL </button>
	</form>
<p class="text-center"> Go back to Login <a href="/login" class="ml-2">Here</a></p>
</div>