* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-image: url('/static/images/Space.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}

.container2 {
    position: center;
    top: 250px;
    margin: 100px auto;
    width: 40%;
    background-color: white;
    padding: 80px;
    border-radius: 30px;
    outline: 3px solid #CAEBF2;
}

.container3 {
    position: center;
    top: 250px;
    margin: 100px auto;
    width: 40%;
    background-color: #404040;
    padding: 80px;
    border-radius: 30px;
    outline: 3px solid #B3B3B3;
}

.title, .subtitle {
    text-align: center;
    font-weight: bolder;
    color: black;
}

.title {
    font-size: 35px;
}

.title2, .subtitle2 {
    text-align: center;
    font-weight: bolder;
    color: white;
}

.title2 {
    font-size: 35px;
}

.form {
    width: 100%;
    
}
.form input {
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    border: none;
    outline: none;
    background: none;
}
.username, .password, .email, .lobby {
    display: block;
    border-radius: 30px;
    border: 1px solid;
    padding: 15px;
    margin: 10px 0;
}
.form svg {
    height: 25px;
    margin-bottom: -5px;
    margin-left: 10px;
    margin-right: 5px;
}
.options {
    text-align: center;
}
.login-btn {
    width: 100%;
    padding: 12px 10px;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    background-color: aqua;
    color: white;
    margin-bottom: 5px;
}

.lobby-btn {
    width: 100%;
    padding: 12px 10px;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    background-color: #282828;
    color: white;
    margin-bottom: 5px;
}

.game {
    background-color: #222222;
    background-image: none;
    overflow: scroll;
}
.menu-header {
    text-align: center;
    color: #181818;
}
.navbar ul {
    list-style: none;
    background: #4e4e4e;
    padding: 0;
    margin: 0;
    text-align: center;

}
.navbar li {
    display: inline-block;
    color: black;
}
.navbar a {
    text-decoration: none;
    color: #FFFFFF;
    width: 100px;
    display: block;
    padding: 25px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}
.navbar a:hover {
    background-color: gainsboro;
}

.navbar-custom{
    background-color: #4e4e4e;
    color: #A9A9A9;
}

.nav-item{
    color: #FFFFFF;
}