<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src='https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.13.0/build/ol.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.13.0/css/ol.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    *,
	*:before,
	*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.popup{
    background-color: #ffffff;
    width: 420px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    display: none;
    font-family: "Poppins",sans-serif;
    text-align: center;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    background: #03549a;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup h2{
   margin-top: -20px;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}
      .map {
        height: 300px;
        width: 50%;
      }
    </style>
    <title>OpenLayers example</title>
  </head>
  <body>
    <h1>Game</h1>
    <div class="popup">
      <button id="close">&times;</button>
      <h2>Your Role</h2>
    <p>The Rules: Killers are suppose to kill the Innocents while the Innocents try to do all the tasks. If Killers kill everyone, then they win. However, if the Innocents finish the tasks first, they will win. Tasks can be done even if you are dead. Good luck</p>
    </div>
    <h2>My Map</h2>
    <div id="map" class="map"></div>
    <button id="randomSwitch" onclick="randomswitch(50.73763133962232, -3.536951676811666)">Switch1</button>
    <button id="randomSwitch1" onclick="randomswitch(50.73942183830498, -3.5336562834726597)">Switch2</button>
    <button id="randomSwitch2" onclick="randomswitch(50.73641559265679, -3.5316147469911217)">Switch3</button>


    <button id="task" onclick="doTask(this.value)" >Do Task</button>
    <ul id="list">
    </ul>
    <div id="end" style= "display: none">
      <h2>Winner</h2>
    <p>GOOD JOB! YOU COMPLETE ALL THE TASKS!!!</p>
    </div>
    <script type="text/javascript">
    window.addEventListener("load", function(){
       setTimeout(
           function open(event){
               document.querySelector(".popup").style.display = "block";
           },
           2000
       )
    });


    document.querySelector("#close").addEventListener("click", function(){
       document.querySelector(".popup").style.display = "none";
    });
      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM(),
            name: 'tileLayer'
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([-3.53372, 50.73639]),
          zoom: 13.5
        })
      });
      //var json=$.getJSON("taskList.json");
      var jsonData = {{data|safe}};
      var names = {{names|safe}};
      var ul = document.getElementById("list");
      for (let i=0;i<3;i++){
        var li = document.createElement("li");
        li.id=i+1;
        li.appendChild(document.createTextNode(names[i]));
        ul.appendChild(li);
        var layer = new ol.layer.Vector({
        source: new ol.source.Vector({
            features: [
                new ol.Feature({
                    geometry: new ol.geom.Point(ol.proj.fromLonLat([jsonData[i][1], jsonData[i][0]]))
                })
            ]
         }),
         name: jsonData[i][2]
       });
       map.addLayer(layer);
     }
     function doTask(number) {
       console.log("The task number: " + number);
       document.getElementById(number).parentNode.removeChild(document.getElementById(number));
       if (document.getElementById("list").innerHTML.trim()==""){
         popItUp();
       }
       var tasks = map.getLayers();
       tasks.forEach(layer => {
         if(layer !== undefined){
           console.log(layer.get('name'));
           if(layer.get('name') == number){
             map.removeLayer(layer);
           }
         }
       });
       document.getElementById("task").disabled = true;
    }
    function popItUp() {
        var popup = document.getElementById("end");
        popup.style.display = "block";
    }
    function start(){
      document.getElementById("task").disabled = true;
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showStartingPosition);
      }
      function showStartingPosition(position) {
        var myStyle = new ol.style.Style({
      image: new ol.style.Circle({
        radius: 5,
        fill: new ol.style.Fill({color: 'black'}),
        stroke: new ol.style.Stroke({
          color: [255,0,0], width: 2
        })
      })
    });
        var playerLayer = new ol.layer.Vector({
        source: new ol.source.Vector({
            features: [
                new ol.Feature({
                    geometry: new ol.geom.Point(ol.proj.fromLonLat([position.coords.longitude, position.coords.latitude]))
                })
            ]
         }),
         style: myStyle,
         name: 'playerLayer'
       });
       console.log([position.coords.longitude, position.coords.latitude]);
       map.addLayer(playerLayer);
     }
   }start()
   /* once we actually try to move
   if (navigator.geolocation) {
     navigator.geolocation.watchPosition(showPosition);
   }
*/
    function showPosition(position) {
      map.getLayers().forEach(layer => {
        if(layer.get('name') == 'playerLayer'){
          //map.removeLayer(layer)
          layer.getSource().forEachFeature(feature => {
            feature.getGeometry().setCoordinates(ol.proj.fromLonLat([position.coords.longitude, position.coords.latitude]));
          });
        }
      });

      var jsonData = {{data}};
      for (let i=0;i<32;i++){
        var loc = [jsonData[i][1], jsonData[i][0]];
        console.log(loc + "     " +y + ", " +x);
        if(((loc[0]-0.00019)<=position.coords.longitude && position.coords.longitude<=(loc[0]+0.00019)) && ((loc[1]-0.00019)<=position.coords.latitude && position.coords.latitude<=(loc[1]+0.00019))){
          document.getElementById("task").disabled = false;
          document.getElementById("task").value = i+1;
          break;
        }
     }
      /* Instead of deleting and creating a new layer we update the coordinates
      var tasks = map.getLayers();
      tasks.forEach(layer => {
        if(layer.get('name') == 'playerLayer'){
          map.removeLayer(layer)
        }
      });
      var playerLayer = new ol.layer.Vector({
      source: new ol.source.Vector({
          features: [
              new ol.Feature({
                  geometry: new ol.geom.Point(ol.proj.fromLonLat([position.coords.longitude, position.coords.latitude]))
              })
          ]
       })
     });
     playerLayer.set('name', 'playerLayer');
     map.addLayer(playerLayer);
     */


    }
    function randomswitch(x,y) {
      map.getLayers().forEach(layer => {
        if(layer.get('name') == 'playerLayer'){
          //map.removeLayer(layer)
          layer.getSource().forEachFeature(feature => {
            feature.getGeometry().setCoordinates(ol.proj.fromLonLat([y,x]));
          });
        }
      });

     var jsonData = {{data}};
     for (let i=0;i<32;i++){
       var loc = [jsonData[i][1], jsonData[i][0]];
       console.log(loc + "     " +y + ", " +x);
       if(((loc[0]-0.00019)<=y && y<=(loc[0]+0.00019)) && ((loc[1]-0.00019)<=x && x<=(loc[1]+0.00019))){
         document.getElementById("task").disabled = false;
         document.getElementById("task").value = i+1;
         break;
       }
    }
     /*
     map.getLayers().forEach(layer => {
       if(layer.get('name') == 'playerLayer'){
         var feature = layer.getFeatures();
         console.log(feature);
         var loc=feature.getGeometry().getCoordinates();
         console.log(loc + "     " +y + ", " +x);
         if((loc[0]-0.00019)<=y<=(loc[0]+0.00019) && (loc[1]-0.00019)<=x<=(loc[1]+0.00019)){
           document.getElementById("task").disabled = false;
         }

       }
     });
     */
    }

    </script>
    <script type="text/javascript">

   </script>
  </body>
</html>
