<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src='https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.13.0/build/ol.js'></script>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.13.0/css/ol.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    *,
	*:before,
	*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background-color: #222222;
}

h1{
  color: white;
  text-align: center;
}

h2{
  color: #B3B3B3;
  text-align: center;
}

ul{
  color: white;
}

.header{
      background-color: #4e4e4e;
      padding-top: 2%;
      padding-bottom: 0.5%;
    }

.popup{
    background-color: #ffffff;
    width: 420px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 25%;
    border-radius: 8px;
    display: none;
    font-family: "Poppins",sans-serif;
    text-align: center;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    background: #03549a;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup h2{
   margin-top: -20px;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}
      .map {
        height: 300px;
        width: 50%;
      }
    </style>
    <title>Imposter</title>
  </head>
  <body>
    <div class="header">
    <h1>Imposter</h1>
  </div>
<hr style="color: #404040">
    <div class="popup">
      <button id="close">&times;</button>
      <h2>Your Role</h2>
    <p>The Rules: Killers are suppose to kill the Innocents while the Innocents try to do all the tasks. If Killers kill everyone, then they win. However, if the Innocents finish the tasks first, they will win. Tasks can be done even if you are dead. Good luck</p>
    </div>
    <h2>Your Map</h2>
	<center>
    <div id="map" class="map" display="block"></div>
    <div id="map1" class="map" display="none"></div>
<br><hr style="color: #404040">
    <button id="randomSwitch1" onclick="randomswitch1(0)">Switch1</button>
    <button id="randomSwitch2" onclick="randomswitch1(1)">Switch2</button>
    <button id="randomSwitch3" onclick="randomswitch1(2)">Switch3</button>
    <button id="randomSwitch4" onclick="randomswitch1(3)">Switch4</button>
    <button id="randomSwitch5" onclick="randomswitch1(4)">Switch to secret location</button>

    <button id="showMap" onClick="showMap()">Show Large Map </button>
    <button id="hideMap" onClick="hideMap()">Hide Large Map </button>


    <button id="task" onclick="doTask(this.value)" >Do Task</button>
    <button id="kill" onclick="kill(this.value)" >Kill</button>

    <ul id="list">
    </ul>
    <div id="end" style= "display: none" >
      <h2>Winner</h2>
    <p>GOOD JOB! YOU COMPLETE ALL THE TASKS!!!</p>
    </div>
    <h2 id="username">{{username}}</h2>
    <h2> </h2>
	  </center>
    <script type="text/javascript">
    var url =window.location.href;
    var segments = url.split( '/' );
    var id = segments[4];
    var isImposter ={{isImposter}};
    if( isImposter== true){
      document.getElementById("kill").style.display = 'visible'
      document.getElementById("task").style.display = 'none'
      document.getElementById("kill").disabled = true;


    }else{
      document.getElementById("kill").style.display = 'none'
      document.getElementById("task").style.display = 'visible'
      document.getElementById("task").disabled = true;

    }
    var lonGlobal, latGlobal;
    var allUserLocations;
    var map;
    var mapLarge = new ol.Map({
      target: 'map1',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM(),
          name: 'tileLayer'
        })
      ],
      view: new ol.View({
        center: ol.proj.fromLonLat([-3.53372, 50.73639]),
        zoom: 13.5
      }),
      controls: []
    });
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showStartingPosition);
    }
    function showStartingPosition(position) {
      map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM(),
            name: 'tileLayer'
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([position.coords.longitude, position.coords.latitude]),
          zoom: 16.5
        }),
        controls: [],
        interactions: []
      });
      //var json=$.getJSON("taskList.json");
      var taskStyle = new ol.style.Style({
        image: new ol.style.Circle({
          radius: 5,
          stroke: new ol.style.Stroke({
            color: [255,150,0], width: 2
          })
        }),
        text: new ol.style.Text({
          font: '12px Calibri,sans-serif',
          overflow: true,
          fill: new ol.style.Fill({
              color: '#000'
          }),
          stroke: new ol.style.Stroke({
              color: '#fff',
              width: 3
          }),
          text: "1"
      })
      });

      var jsonData = {{data|safe}};
      var names = {{names|safe}};
      var ul = document.getElementById("list");
      console.log(jsonData)
      if(isImposter == false){
        for (let i=0;i<4;i++){
          var temp = taskStyle.clone();
          temp.getText().setText((i+1).toString());
          var li = document.createElement("li");
          li.id=i+1;
          li.appendChild(document.createTextNode(names[i]));
          ul.appendChild(li);
          console.log("coordinates" +jsonData[i][1]+ jsonData[i][2] )
          var layer = new ol.layer.Vector({
          source: new ol.source.Vector({
              features: [
                  new ol.Feature({
                      geometry: new ol.geom.Point(ol.proj.fromLonLat([jsonData[i][1], jsonData[i][2]]))
                  })
              ]
           }),
           style: temp,
           name: jsonData[i][0]
         });
         map.addLayer(layer);
         mapLarge.addLayer(layer);
       }
     }
        var myStyle = new ol.style.Style({
          image: new ol.style.Circle({
            radius: 5,
            fill: new ol.style.Fill({color: "{{color}}"}),
            stroke: new ol.style.Stroke({
              color: [255,0,0], width: 2
            })
          })
        });
        var playerLayer = new ol.layer.Vector({
        source: new ol.source.Vector({
            features: [
                new ol.Feature({
                    geometry: new ol.geom.Point(ol.proj.fromLonLat([position.coords.longitude, position.coords.latitude]))
                })
            ]
         }),
         style: myStyle,
         name: 'playerLayer'
       });
       map.addLayer(playerLayer);
       mapLarge.addLayer(playerLayer);
       lonGlobal = position.coords.longitude;
       latGlobal = position.coords.latitude;

   }
    function showMap(){
      mapLarge.getLayers().forEach(layer => {
        if(layer.get('name') == 'playerLayer'){
          layer.getSource().forEachFeature(feature => {
            feature.getGeometry().setCoordinates(ol.proj.fromLonLat([lonGlobal, latGlobal]));
            console.log("playerLayer " + feature.getGeometry().getCoordinates());
            console.log("playerLayer Should be: " + lonGlobal, latGlobal);
          });
        }
      });
      document.getElementById("map1").style.display="block";
      document.getElementById("map").style.display="none";
    }
    function hideMap(){
      document.getElementById("map1").style.display="none";
      document.getElementById("map").style.display="block";
    }hideMap();

    window.addEventListener("load", function(){
       setTimeout(
           function open(event){
               document.querySelector(".popup").style.display = "block";
           },
           2000
       )
    });


    document.querySelector("#close").addEventListener("click", function(){
       document.querySelector(".popup").style.display = "none";
    });

     function doTask(number) {
       console.log("The task number: " + number);
       document.getElementById(number).parentNode.removeChild(document.getElementById(number));
       if (document.getElementById("list").innerHTML.trim()==""){
         popItUp();
       }
       var tasks = map.getLayers();
       tasks.forEach(layer => {
         if(layer !== undefined){
           console.log(layer.get('name'));
           if(layer.get('name') == number){
             map.removeLayer(layer);
           }
         }
       });
       document.getElementById("task").disabled = true;
    }
    function popItUp() {
        var popup = document.getElementById("end");
        popup.style.display = "block";
    }

   function newPlayer(x,y,z){
       var newPlayerStyle = new ol.style.Style({
         image: new ol.style.Circle({
           radius: 5,
           fill: new ol.style.Fill({color: z}),
           stroke: new ol.style.Stroke({
             color: [255,0,0], width: 2
           })
         })
       });
       var newPlayer = new ol.layer.Vector({
       source: new ol.source.Vector({
           features: [
               new ol.Feature({
                   geometry: new ol.geom.Point(ol.proj.fromLonLat([x,y]))
               })
           ]
        }),
        style: newPlayerStyle,
        name: 'newPlayer'
      });
      console.log("It happened " + x + y)
      map.addLayer(newPlayer);
    }
    function adjustPlayer(x,y){
      map.getLayers().forEach(layer => {
        if(layer.get('name') == 'newPlayer'){
          layer.getSource().forEachFeature(feature => {
            feature.getGeometry().setCoordinates(ol.proj.fromLonLat([x,y]));
            lonGlobal = y;
            latGlobal = x;
          });
        }
      });
    }
   /* once we actually try to move
   if (navigator.geolocation) {
     navigator.geolocation.watchPosition(showPosition);
   }
*/
    function showPosition(position) {
      map.getLayers().forEach(layer => {
        if(layer.get('name') == 'playerLayer'){
          layer.getSource().forEachFeature(feature => {
            lonGlobalposition.coords.longitude;
            latGlobal = position.coords.latitude;
            feature.getGeometry().setCoordinates(ol.proj.fromLonLat([position.coords.longitude, position.coords.latitude]));
          });
        }
      });

      var jsonData = {{data}};
      for (let i=0;i<32;i++){
        var loc = [jsonData[i][1], jsonData[i][0]];
        console.log(loc + "     " +y + ", " +x);
        if(((loc[0]-0.00019)<=position.coords.longitude && position.coords.longitude<=(loc[0]+0.00019)) && ((loc[1]-0.00019)<=position.coords.latitude && position.coords.latitude<=(loc[1]+0.00019))){
          document.getElementById("task").disabled = false;
          document.getElementById("task").value = i+1;
          break;
        }
     }

    }
    function passTaskNum(x){
      $.ajax({
        url: '/game/'+id,
        type: 'get',
        data:{
          taskNumber: x
        },
      success: function(response){
        console.log(response)
        newPlayer(response.otherPlayerData[0],response.otherPlayerData[1] )
      },
      error: function(error){
        console.log(error)
      }
      })
    }
    function passColor(x){
      $.ajax({
        url: '/game/'+id,
        type: 'get',
        data:{
          color: x
        },
      success: function(response){
        console.log(response)
        if(response.crewmatesAllDead = true){
          document.getElementById("end").innerHTML = "The Imposters won by killing the entire crew";
          document.getElementById("end").style.display = "block";
        }
      },
      error: function(error){
        console.log(error)
      }
     })
    }
    function randomswitch(x,y){
      $.ajax({
        url: '/game/'+id,
        type: 'get',
        data:{
          longitude: x,
          latitude: y
        },
        success: function(response){
          console.log(response)
          if(allUserLocations == undefined){
            newPlayer(response.otherPlayerData[0][0],response.otherPlayerData[0][1], response.otherPlayerData[0][2])
            allUserLocations = [response.otherPlayerData[0][0], response.otherPlayerData[0][1], response.otherPlayerData[0][2]]
            console.log("Loc" + allUserLocations);
          }else{
            adjustPlayer(response.otherPlayerData[0][0],response.otherPlayerData[0][1])
            allUserLocations = [response.otherPlayerData[0][0], response.otherPlayerData[0][1]]

          }

        },
        error: function(error){
          console.log("error" + error)
        }
      })
    }
    function randomswitch1(z) {
      if (isImposter == false){
        if(z==4){
          var x = 50.73541427986050
          var y = -3.5393276812220645
          map.getLayers().forEach(layer => {
            if(layer.get('name') == 'playerLayer'){
              //map.removeLayer(layer)
              layer.getSource().forEachFeature(feature => {
                feature.getGeometry().setCoordinates(ol.proj.fromLonLat([y,x]));
                lonGlobal = y;
                latGlobal = x;
              });
            }
          });
          map.getView().setCenter(ol.proj.fromLonLat([y,x]));
          randomswitch(y, x);
        }
        else{
          var locations = {{data}}
          console.log(locations)
          var y = locations[z][1]
          var x = locations[z][2]
          map.getLayers().forEach(layer => {
            if(layer.get('name') == 'playerLayer'){
              //map.removeLayer(layer)
              layer.getSource().forEachFeature(feature => {
                feature.getGeometry().setCoordinates(ol.proj.fromLonLat([y,x]));
                lonGlobal = y;
                latGlobal = x;
              });
            }
          });
          map.getView().setCenter(ol.proj.fromLonLat([y,x]));
          console.log("here" + map.getView().getCenter());
          var jsonData = {{data}};
          for (let i=0;i<4;i++){
            var loc = [jsonData[i][1], jsonData[i][2]];
            if(((loc[0]-0.00019)<=y && y<=(loc[0]+0.00019)) && ((loc[1]-0.00019)<=x && x<=(loc[1]+0.00019))){
              document.getElementById("task").disabled = false;
              document.getElementById("task").value = i+1;
              break;
            }
          }

          randomswitch(y, x);
        }
      }
      else{

        randomswitch(50.735414279860606, -3.5393276812220655);

        var locationsNew = [-3.5393276812220655, 50.735414279860606]
        map.getLayers().forEach(layer => {
          if(layer.get('name') == 'playerLayer'){
            layer.getSource().forEachFeature(feature => {
              feature.getGeometry().setCoordinates(ol.proj.fromLonLat(locationsNew));
              lonGlobal = locationsNew[0];
              latGlobal = locationsNew[1];
              console.log("New stuff" + locationsNew);
            });
          }
        });
        map.getView().setCenter(ol.proj.fromLonLat(locationsNew));
        for (let i=0;i<1;i++){
          if(allUserLocations != undefined){

            var loc = [allUserLocations[0], allUserLocations[1]];
            console.log("HEREEE" + loc)

            if(((loc[0]-0.00019)<=lonGlobal && lonGlobal<=(loc[0]+0.00019)) && ((loc[1]-0.00019)<=latGlobal && latGlobal<=(loc[1]+0.00019))){
              document.getElementById("kill").disabled = false;
              document.getElementById("kill").value = allUserLocations[2];
              console.log("color " + allUserLocations[2])
              break;
            }
          }
        }
      }
    }

    function kill(x){
        console.log("color " + x)
        passColor(x);
    }

    </script>
    <script type="text/javascript">

   </script>
  </body>
</html>
