{% extends "users/base.html" %}

{% load game_extras %}

{% block nav-lobbies %}<strong class="nav-active">Lobbies</strong>{% endblock %}
{% block content %}
<h1>Lobbies</h1>
<hr>
User: {{user.username|default:'Guest'}}
<br>
<!--List of Lobbies-->
{% for lobby in listlobbies %}
	<li><a href="{% url 'game:lobby' lobby.id %}"><button onclick="window.location.href='/add_user_to_lobby/';">{{ lobby.lobby_name }}</button></a></li>
{% endfor %}
<hr>
<!--Button to create lobby-->
{% if request.user|has_group:"Gamemaster" %}
<a href="/createlobby">Create Lobby</a>
{% endif %}
{% endblock %}