<!DOCTYPE html>
<html>
<head>
	{% load game_extras %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lobby</title>
</head>
<body>
<h3>{{ lobby.lobby_name }}</h3>
<hr>
{% block content %}

<!--Player list will be here-->

<ul>
{% for player in lobby.players %}
    <li>{{ user.username }}</li>
{% endfor %}
</ul>

<a href="/lobbies"><button>Leave Lobby</button></a>
{% if request.user|has_group:"Gamemaster" %}
<hr>
<a href="/game"><button>Start Game</button></a>
<button type="submit" value="Cancelgame">Cancel Game</button>
{% endif %}
{% endblock %}
</body>
</html>